@model IEnumerable<my_store_project.Models.ViewModels.Shop.ProductVM>

@{
    ViewBag.Title = ViewBag.CategoryName;
}
    @foreach (var item in Model){       
            <div class="container table">
                <h2>@ViewBag.CategoryName</h2>
                <div class="row">
                    <div class="col-md-3">
                        <div class="product-top">
                            <a href="/shop/product-details/@item.Slug">
                                <img class="img-thumbnail" src="/Images/Uploads/Products/@item.Id/Thumbs/@item.ImageName"/>
                            </a>
                        </div>
                        <div class="product-bottom  text-center">
                            <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                            <h5>@Html.DisplayFor(modelItem => item.Price) €</h5>
                            <p>@Html.DisplayFor(modelItem => item.Description)</p>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <a href="/shops/product-details/@item.Slug" class="btn btn-info">Details</a>
            </div>          
    }
