@model my_store_project.Models.ViewModels.Pages.PageVM

<h6 style="text-align:center; margin-top:10px;"> Some body serbice page</h6>

@{
    ViewBag.Title = ViewBag.PageTitle;
}

@Html.Raw(Model.Body)